<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.4.0/intro.js"></script>
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <script type="text/javascript">
    function reactionIntro() {
      introJs().setOption('showProgress', true).setOption('showStepNumbers', false).start();
    }
  </script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.4.0/introjs.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.min.css">
<noscript>
  <div style="padding: 40px; font-size: 200%; text-align: center;">This site requires JavaScript. Please enable it in your browser settings.</div>
</noscript>
</head>